In [5]:
from google.cloud import bigquery
import pandas as pd

In [6]:
# Create a "Client" object
client = bigquery.Client()

Using Kaggle's public dataset BigQuery integration.

In [7]:
# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [8]:
# List all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there are four!)
for table in tables:  
    print(table.table_id)

comments
full
full_201510
stories

In [9]:
# Construct a reference to the "full" table
table_ref = dataset_ref.table("full")
table2_ref = dataset_ref.table("comments")

# API request - fetch the table
table = client.get_table(table_ref)
print(table.table_id)
table2 = client.get_table(table2_ref)
print(table2.table_id)

full
comments

In [10]:
# Print information on all the columns in the "full" table in the "hacker_news" dataset
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', ()),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", ()),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', ()),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', ()),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ())]

In [11]:
table2.schema

[SchemaField('id', 'INTEGER', 'NULLABLE', 'Unique comment ID', ()),
 SchemaField('by', 'STRING', 'NULLABLE', 'Username of commenter', ()),
 SchemaField('author', 'STRING', 'NULLABLE', 'Username of author', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('time_ts', 'TIMESTAMP', 'NULLABLE', 'Human readable time in UTC (format: YYYY-MM-DD hh:mm:ss)', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Comment text', ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ())]

In [12]:
client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,Selenoid: lightning fast Docker-based Selenium...,https://github.com/aerokube/selenoid,None,None,vania-pooh,2.0,1531827823,2018-07-17 11:43:43+00:00,story,17548966,NaN,0.0,None,None
1,None,None,You're right. I was looking at the diagram. Cl...,None,brucehart,NaN,1345732908,2012-08-23 14:41:48+00:00,comment,4422609,4422196.0,NaN,None,None
2,None,None,Nothing but a small set of scattered anecdotal...,None,anongraddebt,NaN,1544737162,2018-12-13 21:39:22+00:00,comment,18676377,18671189.0,NaN,None,None
3,None,None,&gt; Is fb actively stifling competition? Is t...,None,whyenot,NaN,1552357349,2019-03-12 02:22:29+00:00,comment,19364804,19364278.0,NaN,None,None
4,None,None,"I think most of those are past the ""Risk your ...",None,dkhenry,NaN,1357930699,2013-01-11 18:58:19+00:00,comment,5044306,5044293.0,NaN,None,None

In [13]:
bq_file = client.list_rows(table, max_results=25).to_dataframe()

with open("my_file.csv", 'w') as file:
    file.write(bq_file.to_csv())